.hireButton {
    transition-duration: 2s;
    position: relative;
    z-index: 1;
}

.hireButton::after {
    content: '';
    position: absolute;
    background-color: #1dddbc;
    z-index: -1;
    width: 0; /* Set an initial width, for example, 0 */
    height: 100%;
    top: 0;
    left: 0;
    transition: width 0.5s;
}

.hireButton:hover::after {
    width: 100%;
    box-shadow: 0px 0px 16px 2px #1dddbc;
}
